.jumbotron {
	margin-bottom: 0px !important;
}

.navbar {
	margin-bottom: 15px;
}

.card-header {
	font-weight: bolder;
}

.alert {
	padding: .50rem 1.00rem;
}

.stretched-link {
	padding: 0;
}

.bootstrap-select .dropdown-toggle .filter-option {
	padding-top: 0px;
}

.close {
	font-weight: bolder;
}

.alert-dismissible .close {
	padding: .40rem .5rem
}