.jumbotron {
	margin-bottom: 0px !important;
}

.navbar {
	margin-bottom: 15px;
}

.card-header {
	font-weight: bolder;
}

.alert {
	padding: .50rem 1.00rem;
}

.stretched-link {
	padding: 0;
}

.bootstrap-select .dropdown-toggle .filter-option {
	padding-top: 0px;
}

.close {
	font-weight: bolder;
}

.alert-dismissible .close {
	padding: .40rem .5rem
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(194, 194, 194);
	color: rgb(17, 17, 17);
	text-align: center;
  }

  footer ul{
	  font-weight: bold;
	  list-style-type: none;
  }

  body{
	  margin-bottom: 10px;
	  width: 100%;
  }

  @media (min-width: 1200px){
	  .container{
		  max-width: 90%;
	  }
  }